@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

/* FONTES PERSONALIZADAS - TAILWIND */
@theme {
  --font-loen: "Loen", sans-serif;
  --font-michroma: Michroma, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-manrope: Manrope, sans-serif;
  --font-ubuntu: Ubuntu, sans-serif;
  --font-helvetica: Helvetica, sans-serif;
}

/* CORES PERSONALIZADAS - TAILWIND */
@theme {
  --color-*: initial;

  /* Cadastro e Login */
  --color-background-escuro: #0f0f0f;
  --color-background-claro: #161618;
  --color-background-claroclaro: #0b0b0b;
  --color-texto-branco: #ffffff;
  --color-texto-footer: #f7fafc;
  --color-background-login: #ffffff;
  --color-titulo-login: #1e2531;
  --color-texto-login: #2d3748;
  --color-placeholder-login: #424242;
  --color-field-login: #e2e8f0;
  --color-field-border-login: #ffffff;
  --color-icon-login: #a0aec0;
  --color-button-text: #ffffff;
  --color-button-color: #2d3748;
  --color-button-color-hover: #2d3748e5;
  --color-text-register: #a0aec0;
  --color-button-register: #2d3748;
  --color-icon-branco: #ffffff;
  --color-color-footer: #0f0f10;
  --color-field-border-active: #2d3748;

  /* Navbar */
  --color-background-navbar: #ffffff;
  --color-text-logo: #e0e1e2;
  --color-line-navbar: #404040;
  --color-placeholder-avatar: #00b5d8;
  --color-placeholder-avatar-icon: #ffffff;
  --color-text-user-name: #000000;
  --color-text-user-role: #0987a0;
  --color-background-option-ac: #232325;
  --color-background-option-button-ac: #232325;
  --color-background-option-button-ac-hover: #232325e5;
  --color-background-option-icon-ac: #ffffff;
  --color-text-option-ac: #efefef;
  --color-background-option-de: #ffffff00;
  --color-background-option-button-de: #edf2f7;
  --color-background-option-icon-de: #00b5d8;
  --color-text-option-de: #a2a2a2;
  --color-theme-toggle-button: #4a5568;

  /* Dashboard */
  --color-text-breadcrumb: #ffffff;
  --color-text-page-title: #ffffff;
  --color-background-card-dashboard: #ffffff;
  --color-card-dashboard-capt-text: #a0aec0;
  --color-card-dashboard-text: #2d3748;
  --color-card-dashboard-button: #a0aec0;
  --color-card-dashboard-button-icon: #ffffff;
  --color-card-dashboard-footer-text: #a0aec0;
  --color-card-dashboard-line-table: #e2e8f0;
  --color-card-dashboard-background-table: #f7fafc;
  --color-card-dashboard-text-table: #718096;
  --color-card-dashboard-dot-line: #4a5568;
  --color-dashboard-occupation: #a0aec0;
  --color-dashboard-create-button: #2d3748;
  --color-dashboard-create-button-text: #ffffff;
  --color-dashboard-create-button-de: #edf2f7;
  --color-dashboard-green-400: #48bb78;
  --color-dashboard-red-400: #f56565;
  --color-dashboard-green-500: #38a169;
  --color-dashboard-red-500: #e53e3e;
  --color-dashboard-tea: #319795;
  --color-dashboard-orange: #ed8936;

  /* Outros */
  --color-toast-success: #276749;
  --color-toast-error: #9b2c2c;
  --color-toast-info: #1e4e8c;
  --color-toast-warning: #2c7a7b;
}

/* CORES - TEMA DARK */
@variant dark {
  --color-*: initial;

  /* Cadastro e Login */
  --color-background-escuro: #151928;
  --color-background-claro: #1a202c;
  --color-texto-branco: #ffffff;
  --color-texto-footer: #f7fafc;
  --color-background-login: #111c44;
  --color-titulo-login: #ffffff;
  --color-texto-login: #ffffff;
  --color-placeholder-login: #a0aec0;
  --color-field-login: #1b254b;
  --color-field-border-login: #1b254b;
  --color-icon-login: #a0aec0;
  --color-button-text: #ffffff;
  --color-button-color: #3182ce;
  --color-button-color-hover: #3182cee5;
  --color-text-register: #a0aec0;
  --color-button-register: #3182ce;
  --color-icon-branco: #ffffff;
  --color-color-footer: #151928;
  --color-field-border-active: #ffffff;

  /* Navbar */
  --color-background-navbar: #111c44;
  --color-text-logo: #ffffff;
  --color-line-navbar: #e0e1e2;
  --color-placeholder-avatar: #3182ce;
  --color-placeholder-avatar-icon: #ffffff;
  --color-text-user-name: #ffffff;
  --color-text-user-role: #0987a0;
  --color-background-option-ac: #1b254b;
  --color-background-option-button-ac: #3182ce;
  --color-background-option-button-ac-hover: #3182cee5;
  --color-background-option-icon-ac: #ffffff;
  --color-text-option-ac: #ffffff;
  --color-background-option-de: #ffffff00;
  --color-background-option-button-de: #1b254b;
  --color-background-option-icon-de: #3182ce;
  --color-text-option-de: #ffffff;
  --color-theme-toggle-button: #f6ad55;

  /* Dashboard */
  --color-text-breadcrumb: #ffffff;
  --color-text-page-title: #ffffff;
  --color-background-card-dashboard: #111c44;
  --color-card-dashboard-capt-text: #a0aec0;
  --color-card-dashboard-text: #ffffff;
  --color-card-dashboard-button: #3182ce;
  --color-card-dashboard-button-icon: #ffffff;
  --color-card-dashboard-footer-text: #a0aec0;
  --color-card-dashboard-line-table: #4a5568;
  --color-card-dashboard-background-table: #0b1433;
  --color-card-dashboard-text-table: #ffffff;
  --color-card-dashboard-dot-line: #4a5568;
  --color-dashboard-occupation: #a0aec0;
  --color-dashboard-create-button: #3182ce;
  --color-dashboard-create-button-text: #ffffff;
  --color-dashboard-create-button-de: #edf2f7;
  --color-dashboard-green-400: #48bb78;
  --color-dashboard-red-400: #f56565;
  --color-dashboard-green-500: #38a169;
  --color-dashboard-red-500: #e53e3e;
  --color-dashboard-tea: #319795;
  --color-dashboard-orange: #ed8936;

  /* Outros */
  --color-toast-success: #276749;
  --color-toast-error: #9b2c2c;
  --color-toast-info: #1e4e8c;
  --color-toast-warning: #2c7a7b;
}

@font-face {
  font-family: "Loen";
  src: url("/fonts/Loen.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

input:-webkit-autofill {
  @apply bg-field-border-login text-texto-login;
  box-shadow: 0 0 0 1000px #e6e9f0 inset !important;
  -webkit-text-fill-color: #1f2937 !important;
}

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
}

:root {
  font-family: Michroma, Inter, Manrope, Ubuntu, "Loen", system-ui, Avenir,
    Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */